* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  outline: none;
}

body {
  margin: auto;
  width: 50%;
  padding: 30px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.item {
  list-style: none;
  background-color: #edf9fa;
  margin-bottom: 5px;
  color: #3c3c3c;
  text-align: left;
  vertical-align: middle;
  font-size: 18px;
  padding: 18px 8px 28px 20px;
  border-radius: 8px;

  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

li.item.done {
  text-decoration: line-through !important;
  list-style: none;
  background-color: rgb(156, 253, 224);
}

li.item.done:hover {
  background-color: rgb(130, 247, 212);
}

.inputgroup {
  padding: 8px;
  display: inline-block;
  width: 100%;
}

#enter {
  background-color: rgb(19, 29, 56);
  border: 0;
  color: aliceblue;
  font-size: 18px;
  border-radius: 8px;
  padding: 12px;
}

#enter:hover {
  background-color: rgb(34, 50, 95);
  cursor: pointer;
}

span.close {
  margin-left: 160px;
}

.delete {
  background-color: rgb(238, 75, 124);
  border: 0;
  color: aliceblue;
  font-size: 16px;
  padding: 8px;
  border-radius: 50px;
  min-width: 120px;
  float: right;
}

.delete:hover {
  background-color: rgb(233, 55, 108);
  cursor: pointer;
}
